.button {
  display: block;
  padding: 0.6em 1.2em;
  font-size: inherit;
  font-family: inherit;
  border-radius: 5px;
  border: 0;
  background-color: forestgreen;
  color: white;
  cursor: pointer;
}

.button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

.button:hover {
  opacity: 0.9;
}

.button:active {
  transform: translateY(1px);
}
