.wrapper {
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 2em;
  box-shadow: 0 3.4px 2.7px rgba(0, 0, 0, 0.034),
    0 8.7px 6.9px rgba(0, 0, 0, 0.049), 0 17.7px 14.2px rgba(0, 0, 0, 0.061),
    0 36.5px 29.2px rgba(0, 0, 0, 0.076), 0 100px 80px rgba(0, 0, 0, 0.11);
}

.heading {
  font-size: 2em;
  font-weight: 600;
}

.jobTitle {
  margin: 1em 0;
  font-style: italic;
  max-width: 50%;
}

.contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contacts li {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 1em;
}

.contacts li:before {
  font-size: 1.5em;
  color: gray;
}

.phone:before {
  content: '✆';
}

.email:before {
  content: '✉';
}
